<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>767741384254-jqelgi142jc67gm0bul8d3n1lfqjav22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767741384254-jqelgi142jc67gm0bul8d3n1lfqjav22</string>
	<key>API_KEY</key>
	<string>AIzaSyDsFBpyIr9ERAjLM3ti8Yr6melXMmk4XDM</string>
	<key>GCM_SENDER_ID</key>
	<string>767741384254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brianhans.makechat</string>
	<key>PROJECT_ID</key>
	<string>makechat-de602</string>
	<key>STORAGE_BUCKET</key>
	<string>makechat-de602.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:767741384254:ios:0c9082524e8cd5eb</string>
	<key>DATABASE_URL</key>
	<string>https://makechat-de602.firebaseio.com</string>
</dict>
</plist>